body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: chocolate;

}
h1{
    margin-top: 10px;
    color: #f09c60;
    text-align: center;
}
p{
    font-style: italic;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}