<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustos</title>
    <link rel="stylesheet" href="../public/css/estilo...css">
</head>
<body>
    <main>
        <h1>GUSTOS</h1>
    <h3>Contamos con esta variedad de gustos.</h3>

    <ul>
      <il>Crema con Chips de chocolate</il>
      <il>Crema con rocklets</il>
      <il>Crema + duraznos</il>
      <il>Crema oreo</il>
      <il>Relleno chocotorta</il>
      <il>Mousse de chocolate</il>
      <il>Crema moka</il>
      <il>Crema mantecol</il>
      <il>Dulce de leche con:</il>
      <il>Chips de chocolate</il>
      <il>Rocklets</il>
      <il>Nuez</il>
      <il>Merenguitos</il>
    </ul>
    </main>
    
</body>
</html>