<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../public/css/style..css">
    <title>Document</title>
</head>
<body>
    <h1 id="coloramarillo">TAREA 2</h1>
    <h2>Fideos Caseros</h2> <img src="../public/img/fideos_caseros.jpg" alt="" width="850px" height="450px">
    <h3>Descripcion</h3>
    <p>Los fideos caseros son un tipo de pasta larga y delgada que se puede hacer con una máquina de pasta o cortando a mano con un cuchillo filoso. Los ingredientes básicos para hacer fideos caseros son harina, agua, sal y huevos. </p>
    <h4>Ingredientes</h4>
    <ul>
        <li>100g de harina 0000</li>
        <li>1 huevo</li>
        <li>1 pizca de sal</li>
        <li>1 cucharada de aceite</li>
    </ul>
    <iframe width="800" height="608" src="https://www.youtube.com/embed/S_quM9SGiaM" title="FIDEOS CASEROS - fáciles y sin máquina- receta económica y rendidora" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>Preparacion</h5>
<ol>
    <li>Unir los ingrediente, formar una masa sostenida y dejar reposar por 30min</li>
    <li>Estirar la masa sobre la mesada enharinada, en maquina o con palo de amasar. Cortar los fideos del ancho deseado.</li>
    <li>Una vez listos, polvorear con abundante harina y dejarlos orear para que se sequen y endurezcan un poco.</li>
    <li>Colocar en agua hirviendo con sal por 10 a 15min.</li>
</ol>
<a href="../index.html">Inicio</a>
</body>
</html>