<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
 
</head>
<body>
    <h1 id="colormarron">TAREA 1 </h1>
    <h2>Brownies</h2> <img src="../public/img/brownies.jpg" alt="" width="600px" height="450px">
    <h3>Descripcion</h3>
    <p>Un brownie es un bizcocho de chocolate pequeño, típico de la gastronomía de Estados Unidos. Se llama así por su color marrón oscuro, o brown en inglés. A veces se cubre con jarabe espeso de chocolate y puede llevar dentro trocitos de nueces, chocolate butterscotch o mantequilla de maní.</p>

    <h4>Ingredientes</h4>
    <ul>
        <li>1  taza de harina 0000</li>
        <li>1 y 1/2 taza de cacao en polvo</li>
        <li>1 taza de azucar</li>
        <li>3 huevos</li>
        <li>100g de manteca</li>
    </ul>
    
        <h5>Preparacion</h5>
        <iframe width="853" height="480" src="https://www.youtube.com/embed/OqWukgiXIpg" title="Brownie, hace esta receta super húmedo y con capa crocante" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <ol>
            <li>Derretir la manteca hasta que quede liquida y mezclar con el azucar.</li>
            <li>Agregar de a uno los huevos.</li>
            <li>Incorporar la harina de a poco y luego el cacao.</li>
            <li>Enmatecar un molde y llevar al horno a minimo por 15 a 20 min.</li>
        </ol>
    <a href="../index.html">Inicio</a>
</body>
</html>