<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿QUIENES SOMOS?</title>
    <link rel="stylesheet" href="../public/somos.css">
</head>
<body>
    <h1>Tortas Artesanales</h1>
    <p>Un emprendimiento que comenzó como un hobby hace años solo en la zona, hoy contamos con una amplia magnitud de alcance.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, accusantium, cupiditate nisi numquam sint omnis architecto tenetur dolore ut consequuntur, recusandae labore quis suscipit beatae similique. Asperiores blanditiis minima repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis sed soluta magni natus porro provident eos vitae quaerat fugiat odio, nisi minus nobis. Vero nobis consequuntur dolorem ratione non!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto at temporibus accusantium voluptas saepe exercitationem veritatis, illo quibusdam. Eveniet accusamus voluptate vero amet aspernatur nostrum eaque quod, quasi porro veritatis?</p>
</body>
</html>